{% extends "layout.html" %} {% block content %}
<div class="container mt-4">
  <h2 class="display-4 mb-4">About Recipe Realm</h2>
  <div class="row">
    <!-- About Recipe Realm -->
    <div class="col-lg-7 mb-4">
      <h3 class="h4 mb-3">Our Story</h3>
      <p>
        Welcome to Recipe Realm, a community-driven platform dedicated to
        sharing the joy of cooking. Here, culinary enthusiasts from all over the
        globe come together to discover, create, and share their favorite
        recipes.
      </p>
      <h3 class="h4 mb-3">Our Mission</h3>
      <p>
        Our mission is simple: to create a space where everyone, from
        professional chefs to home cooks, can share their culinary creations and
        insights. We believe that every recipe has a story, and we're here to
        help you tell it.
      </p>
      <h3 class="h4 mb-3">Why Join Us?</h3>
      <p>
        Whether you're looking for a quick weekday dinner, a festive holiday
        feast, or just some baking inspiration, Recipe Realm has got you
        covered. By joining our community, you'll gain access to countless
        recipes, tips, and tricks shared by members from different culinary
        backgrounds.
      </p>
      <h3 class="h4 mb-3">Get Involved</h3>
      <p>
        We're always on the lookout for passionate individuals to contribute to
        our platform. If you have a recipe you'd like to share or a culinary
        story to tell, don't hesitate to get in touch with us. We'd love to
        feature your work!
      </p>
    </div>

    <!-- About the Developer -->
    <div class="col-lg-5">
      <div class="card border-0 shadow">
        <div class="card-body">
          <h3 class="h4 card-title mb-4">About the Developer</h3>
          <p>
            Recipe Realm is the brainchild of a dedicated student, currently in
            the final year of schooling. This platform embodies the passion for
            both technology and culinary arts, coming together to create a
            community-driven space for all things food.
          </p>
          <p>
            As a personal project, Recipe Realm has been a journey of learning,
            development, and culinary exploration. Every line of code, every
            recipe, and every interaction on this platform is a testament to the
            dedication and hard work poured into it.
          </p>
          <p>
            Your feedback, contributions, and involvement play a crucial role in
            shaping the future of Recipe Realm. Let's cook up something great
            together!
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
