{% extends 'layout.html' %} {% block content %}

<div class="container mt-5">
  <div class="row">
    <div class="col-lg-8 mx-auto">
      <h2 class="mb-4">Add New Recipe</h2>

      <!-- Recipe Form -->
      <form
        action="{{ url_for('add_recipe') }}"
        method="POST"
        class="needs-validation"
        novalidate
      >
        {{ form.hidden_tag() }}
        <div class="form-group">
          <label for="title">Recipe Title</label>
          <input
            type="text"
            class="form-control"
            id="title"
            name="title"
            required
          />
          <div class="invalid-feedback">Please provide a title.</div>
        </div>

        <div class="form-group mt-4">
          <label for="ingredients">Ingredients</label>
          <div id="ingredients-editor" style="height: 200px"></div>
          <!-- Hidden textarea to store the quill content -->
          <textarea name="ingredients" id="ingredients" hidden></textarea>
        </div>

        <div class="form-group mt-4">
          <label for="steps">Steps</label>
          <div id="steps-editor" style="height: 200px"></div>
          <!-- Hidden textarea to store the quill content -->
          <textarea name="steps" id="steps" hidden></textarea>
        </div>

        <div class="form-group mt-4">
          <button type="submit" class="btn btn-primary">Submit Recipe</button>
        </div>
      </form>
    </div>
  </div>
</div>

<script>
  // Quill configuration
  var toolbarOptions = [
    ["bold", "italic", "underline", "strike"], // toggled buttons
    ["blockquote", "code-block"],
    [{ list: "ordered" }, { list: "bullet" }],
    [{ script: "sub" }, { script: "super" }], // superscript/subscript
    [{ indent: "-1" }, { indent: "+1" }], // outdent/indent
    [{ direction: "rtl" }], // text direction
    [{ size: ["small", false, "large", "huge"] }], // custom dropdown
    [{ header: [1, 2, 3, 4, 5, 6, false] }],
    [{ color: [] }, { background: [] }], // dropdown with defaults from theme
    [{ font: [] }],
    [{ align: [] }],
    ["clean"], // remove formatting button
  ];

  // Initialize Quill editor for ingredients
  var ingredientsEditor = new Quill("#ingredients-editor", {
    modules: {
      toolbar: toolbarOptions,
    },
    theme: "snow",
  });

  // Initialize Quill editor for steps
  var stepsEditor = new Quill("#steps-editor", {
    modules: {
      toolbar: toolbarOptions,
    },
    theme: "snow",
  });

  // Add listener to the form to update textareas before submit
  document.querySelector("form").addEventListener("submit", function () {
    document.querySelector("#ingredients").textContent =
      ingredientsEditor.root.innerHTML;
    document.querySelector("#steps").textContent = stepsEditor.root.innerHTML;
  });
</script>

{% endblock %}
