{% extends 'layout.html' %} {% block content %}
<div class="container mt-5">
  <div class="row">
    <div class="col-lg-8 mx-auto">
      <div class="card shadow-lg mb-5">
        <div class="card-header bg-dark text-light">
          <h2 class="mb-1">Add New Recipe</h2>
        </div>
        <div class="card-body">
          <div class="alert alert-info d-none d-lg-block" id="tabSwitchTip">
            <p class="text-muted m-0">
              Tip: After typing the recipe title, press <kbd>Tab</kbd> to move
              to the ingredients editor. To switch between ingredients and
              steps, press <kbd>Shift</kbd> + <kbd>Tab</kbd>. Use
              <kbd>Ctrl</kbd> + <kbd>Enter</kbd> to submit the recipe.
            </p>
          </div>

          <!-- Recipe Form -->
          <form
            action="{{ url_for('add_recipe') }}"
            method="POST"
            class="needs-validation"
            novalidate
          >
            {{ form.hidden_tag() }}
            <div class="form-group">
              <label for="title">Recipe Title</label>
              <input
                type="text"
                class="form-control"
                id="title"
                name="title"
                required
              />
            </div>

            <div class="form-group mt-4">
              <label for="ingredients">Ingredients</label>
              <div id="ingredients-editor" style="height: 200px"></div>
              <!-- Hidden textarea to store the quill content -->
              <textarea name="ingredients" id="ingredients" hidden></textarea>
            </div>

            <div class="form-group mt-4">
              <label for="steps">Steps</label>
              <div id="steps-editor" style="height: 200px"></div>
              <!-- Hidden textarea to store the quill content -->
              <textarea name="steps" id="steps" hidden></textarea>
            </div>

            <div
              class="alert alert-danger d-none mt-4 text-center"
              id="emptyFieldsAlert"
              role="alert"
            >
              Please ensure all fields are filled out before submitting
            </div>

            <div class="form-group mt-4 card-footer">
              <button type="submit" class="btn btn-primary" id="submit-button">
                Submit Recipe
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  // Check if the user's device is touch-enabled
  if (
    "ontouchstart" in window ||
    navigator.maxTouchPoints > 0 ||
    navigator.msMaxTouchPoints > 0
  ) {
    // If the device is touch-enabled, hide the tab switch tip
    document.getElementById("tabSwitchTip").style.display = "none";
  }

  // Quill configuration
  var toolbarOptions = [
    ["bold", "italic", "underline", "strike"], // toggled buttons
    ["blockquote", "code-block"],
    [{ list: "ordered" }, { list: "bullet" }],
    [{ script: "sub" }, { script: "super" }], // superscript/subscript
    [{ indent: "-1" }, { indent: "+1" }], // outdent/indent
    [{ direction: "rtl" }], // text direction
    [{ size: ["small", false, "large", "huge"] }], // custom dropdown
    [{ header: [1, 2, 3, 4, 5, 6, false] }],
    [{ color: [] }, { background: [] }], // dropdown with defaults from theme
    [{ font: [] }],
    [{ align: [] }],
    ["clean"], // remove formatting button
  ];

  // Initialize Quill editor for ingredients
  var ingredientsEditor = new Quill("#ingredients-editor", {
    modules: {
      toolbar: toolbarOptions,
    },
    theme: "snow",
  });

  // Initialize Quill editor for steps
  var stepsEditor = new Quill("#steps-editor", {
    modules: {
      toolbar: toolbarOptions,
    },
    theme: "snow",
  });

  // Add a listener for the title input to allow the user to press tab to move to the ingredients editor
  document.addEventListener("DOMContentLoaded", function () {
    var titleInput = document.getElementById("title");
    var ingredientsEditorContentEditable = document.querySelector(
      "#ingredients-editor .ql-editor"
    );

    titleInput.addEventListener("keydown", function (event) {
      // Check if the pressed key is "Tab"
      if (event.key === "Tab" || event.keyCode === 9) {
        event.preventDefault(); // Prevent the default tab behavior
        ingredientsEditorContentEditable.focus(); // Focus on the content-editable div inside Quill container for ingredients
      }
    });
  });

  // Ability to press shift + tab to swap between ingredients and steps editors
  document.addEventListener("keydown", function (event) {
    if (event.shiftKey && (event.key === "Tab" || event.keyCode === 9)) {
      event.preventDefault();
      if (document.activeElement.closest("#ingredients-editor")) {
        document.querySelector("#steps-editor .ql-editor").focus();
      } else if (document.activeElement.closest("#steps-editor")) {
        document.querySelector("#ingredients-editor .ql-editor").focus();
      }
    }
  });

  // Add a listener for the submit button to populate the hidden textareas
  document.querySelector("form").addEventListener("submit", function (event) {
    // Get the values of the title, ingredients, and steps
    var titleContent = document.getElementById("title").value.trim();
    var ingredientsContent = ingredientsEditor.getText().trim();
    var stepsContent = stepsEditor.getText().trim();

    // Check if the title, ingredients, or steps are empty
    if (!titleContent || !ingredientsContent || !stepsContent) {
      event.preventDefault(); // Prevent form submission

      // Show the alert
      document.getElementById("emptyFieldsAlert").classList.remove("d-none");

      // Update the alert message
      var alertMessage =
        "Please ensure all fields are filled out before submitting";
      if (!titleContent) {
        alertMessage = "Please provide a title";
      } else if (!ingredientsContent) {
        alertMessage = "Please provide ingredients";
      } else if (!stepsContent) {
        alertMessage = "Please provide steps";
      }
      document.getElementById("emptyFieldsAlert").innerText = alertMessage;

      return; // Exit the function
    } else {
      // If not empty, hide the alert (in case it was previously shown)
      document.getElementById("emptyFieldsAlert").classList.add("d-none");
    }

    document.querySelector("#ingredients").textContent =
      ingredientsEditor.root.innerHTML;
    document.querySelector("#steps").textContent = stepsEditor.root.innerHTML;
  });

  // Allow user to submit the form by pressing ctrl + enter
  document.addEventListener("keydown", function (event) {
    if (event.ctrlKey && (event.key === "Enter" || event.keyCode === 13)) {
      event.preventDefault();

      // Get the values of the title, ingredients, and steps
      var titleContent = document.getElementById("title").value.trim();
      var ingredientsContent = ingredientsEditor.getText().trim();
      var stepsContent = stepsEditor.getText().trim();

      // Check if the title, ingredients, or steps are empty
      if (!titleContent || !ingredientsContent || !stepsContent) {
        event.preventDefault(); // Prevent form submission

        // Show the alert
        document.getElementById("emptyFieldsAlert").classList.remove("d-none");

        // Update the alert message
        var alertMessage =
          "Please ensure all fields are filled out before submitting";
        if (!titleContent) {
          alertMessage = "Please provide a title";
        } else if (!ingredientsContent) {
          alertMessage = "Please provide ingredients";
        } else if (!stepsContent) {
          alertMessage = "Please provide steps";
        }
        document.getElementById("emptyFieldsAlert").innerText = alertMessage;

        return; // Exit the function
      } else {
        // If not empty, hide the alert (in case it was previously shown)
        document.getElementById("emptyFieldsAlert").classList.add("d-none");
      }

      document.querySelector("#ingredients").textContent =
        ingredientsEditor.root.innerHTML;
      document.querySelector("#steps").textContent = stepsEditor.root.innerHTML;
      // Submit the form
      document.querySelector("form").submit();
    }
  });
</script>
{% endblock %}
