{% extends 'layout.html' %} {% block content %}
<h3>Manage Recipes</h3>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Ingredients</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for recipe in recipes %}
    <tr>
      <td>{{ recipe.title }}</td>
      <td>{{ recipe.ingredients|safe }}</td>
      <td>
        <a
          href="{{ url_for('admin_edit_recipe', recipe_id=recipe.id) }}"
          class="btn btn-warning btn mt-1"
          >Edit</a
        >
        <form
          action="{{ url_for('admin_delete_recipe', recipe_id=recipe.id) }}"
          method="post"
          class="d-inline"
        >
          <button type="submit" class="btn btn-danger btn mt-1">Delete</button>
        </form>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
