<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Favicon -->
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="{{ url_for('static', filename='icons/apple-touch-icon.png') }}?v=favicon"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="{{ url_for('static', filename='icons/favicon-32x32.png') }}?v=favicon"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="{{ url_for('static', filename='icons/favicon-16x16.png') }}?v=favicon"
    />
    <link
      rel="manifest"
      href="{{ url_for('static', filename='icons/site.webmanifest') }}?v=favicon"
    />
    <link
      rel="mask-icon"
      href="{{ url_for('static', filename='icons/safari-pinned-tab.svg') }}?v=favicon"
      color="#456ca6"
    />
    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='icons/favicon.ico') }}?v=favicon"
    />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#93cff6" />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />

    <!-- Internal Styles -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />

    <!-- Termly -->
    <script
      type="text/javascript"
      src="https://app.termly.io/embed.min.js"
      data-auto-block="on"
      data-website-uuid="1ed79e9a-7cab-4622-993b-cc865f7013e1"
    ></script>
    <!-- Quill -->
    <link
      href="https://cdn.quilljs.com/1.3.6/quill.snow.css"
      rel="stylesheet"
    />
    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>

    <script
      data-cfasync="false"
      src="{{ url_for('static', filename='js/script.js') }}"
    ></script>

    <title>Recipe Realm</title>
  </head>
  <body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg sticky-top themed-navbar">
      <div class="container-fluid">
        <a class="navbar-brand" href="{{ url_for('home') }}"
          ><img
            src="/static/images/recipe-realm-1.jpg"
            class="d-inline-block rounded mx-2"
            alt="Recipe Realm"
          />Recipe Realm</a
        >
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            {% if current_user.is_authenticated %}
            <!-- Add Admin Dashboard link if user is an admin -->
            {% if current_user.is_admin %}
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('admin_dashboard') }}"
                >Admin Dashboard</a
              >
            </li>
            {% endif %}
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('add_recipe') }}"
                >Add Recipe</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                href="{{ url_for('user_profile', username=current_user.username) }}"
                >{{ current_user.username }}</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
            </li>
            {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('login') }}">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('register') }}">Register</a>
            </li>
            {% endif %}
          </ul>
          <ul class="navbar-nav ml-auto ms-auto">
            <li class="nav-item dropdown">
              <button
                class="btn btn-link nav-link py-2 px-0 px-lg-2 dropdown-toggle d-flex align-items-center"
                type="button"
                id="bd-theme"
                data-bs-toggle="dropdown"
                data-bs-display="static"
                aria-expanded="false"
              >
                <svg
                  id="themeIcon"
                  class="bi me-2 opacity-50 theme-icon"
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  viewBox="0 0 16 16"
                >
                  <!-- These paths will be replaced dynamically based on the theme -->
                  <path id="themePath1" d="" />
                  <path id="themePath2" d="" />
                </svg>
              </button>
              <ul
                class="dropdown-menu dropdown-menu-end"
                aria-labelledby="bd-theme-text"
              >
                <li>
                  <button
                    class="dropdown-item d-flex align-items-center"
                    type="button"
                    data-bs-theme-value="auto"
                  >
                    <svg
                      class="bi me-2 opacity-50 theme-icon"
                      xmlns="http://www.w3.org/2000/svg"
                      width="16"
                      height="16"
                      fill="currentColor"
                      class="bi bi-circle-half"
                      viewBox="0 0 16 16"
                      data-icon="circle-half"
                    >
                      <path
                        d="M8 15A7 7 0 1 0 8 1v14zm0 1A8 8 0 1 1 8 0a8 8 0 0 1 0 16z"
                      />
                    </svg>
                    Auto
                  </button>
                </li>
                <li>
                  <button
                    class="dropdown-item d-flex align-items-center"
                    type="button"
                    data-bs-theme-value="light"
                  >
                    <svg
                      class="bi me-2 opacity-50 theme-icon"
                      xmlns="http://www.w3.org/2000/svg"
                      width="16"
                      height="16"
                      fill="currentColor"
                      class="bi bi-sun-fill"
                      viewBox="0 0 16 16"
                      data-icon="sun-fill"
                    >
                      <path
                        d="M8 12a4 4 0 1 0 0-8 4 4 0 0 0 0 8zM8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0zm0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13zm8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5zM3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8zm10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.415a.5.5 0 1 1-.707-.708l1.414-1.414a.5.5 0 0 1 .707 0zm-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0zm9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707zM4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 1 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .708z"
                      />
                    </svg>
                    Light
                  </button>
                </li>
                <li>
                  <button
                    class="dropdown-item d-flex align-items-center"
                    type="button"
                    data-bs-theme-value="dark"
                  >
                    <svg
                      class="bi me-2 opacity-50 theme-icon"
                      xmlns="http://www.w3.org/2000/svg"
                      width="16"
                      height="16"
                      fill="currentColor"
                      class="bi bi-moon-stars-fill"
                      viewBox="0 0 16 16"
                      data-icon="moon-stars-fill"
                    >
                      <path
                        d="M6 .278a.768.768 0 0 1 .08.858 7.208 7.208 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277.527 0 1.04-.055 1.533-.16a.787.787 0 0 1 .81.316.733.733 0 0 1-.031.893A8.349 8.349 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.752.752 0 0 1 6 .278z"
                      />
                      <path
                        d="M10.794 3.148a.217.217 0 0 1 .412 0l.387 1.162c.173.518.579.924 1.097 1.097l1.162.387a.217.217 0 0 1 0 .412l-1.162.387a1.734 1.734 0 0 0-1.097 1.097l-.387 1.162a.217.217 0 0 1-.412 0l-.387-1.162A1.734 1.734 0 0 0 9.31 6.593l-1.162-.387a.217.217 0 0 1 0-.412l1.162-.387a1.734 1.734 0 0 0 1.097-1.097l.387-1.162zM13.863.099a.145.145 0 0 1 .274 0l.258.774c.115.346.386.617.732.732l.774.258a.145.145 0 0 1 0 .274l-.774.258a1.156 1.156 0 0 0-.732.732l-.258.774a.145.145 0 0 1-.274 0l-.258-.774a1.156 1.156 0 0 0-.732-.732l-.774-.258a.145.145 0 0 1 0-.274l.774-.258c.346-.115.617-.386.732-.732L13.863.1z"
                      />
                    </svg>
                    Dark
                  </button>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container mt-3">
      {% with messages = get_flashed_messages(with_categories=true) %} {% if
      messages %} {% for category, message in messages %}
      <div class="alert alert-{{ category }}">{{ message }}</div>
      {% endfor %} {% endif %} {% endwith %}
    </div>

    <div class="container">{% block content %} {% endblock %}</div>

    <!-- Enhanced Footer -->
    <footer class="themed-footer mt-5">
      <div class="container py-3">
        <div class="row">
          <div class="col-md-4">
            <h5>About Recipe Realm</h5>
            <p>
              Founded by a dedicated student during their final academic year,
              Recipe Realm is a culinary hub where passion for food meets
              community spirit.
            </p>
            <p>
              Our mission: to weave a tapestry of flavors and memories. Every
              dish tells a tale, every ingredient has a backstory, and we're
              here to celebrate them all. Connect with fellow food enthusiasts,
              share beloved recipes, and savor the traditions behind each bite.
            </p>
          </div>
          <div class="col-md-4">
            <h5>Quick Links</h5>
            <ul class="list-unstyled">
              <li>
                <a href="{{ url_for('about') }}">About Us</a>
              </li>
              <li><a href="{{ url_for('faq') }}">FAQ</a></li>
              <li>
                <a
                  href="#"
                  onclick="window.displayPreferenceModal();return false;"
                  id="termly-consent-preferences"
                  >Consent Preferences</a
                >
              </li>
              <li>
                <a
                  href="https://app.termly.io/notify/02bba525-ddff-4cdd-8338-84e370529661"
                  >DSAR Form</a
                >
              </li>
              <li>
                <a href="{{ url_for('terms_of_service') }}">Terms of Service</a>
              </li>
              <li>
                <a href="{{ url_for('privacy_policy') }}">Privacy Policy</a>
              </li>
              <li>
                <a href="{{ url_for('cookie_policy') }}">Cookie Policy</a>
              </li>
            </ul>
          </div>
          <div class="col-md-4">
            <h5>Connect With Us</h5>
            <a href="#" class="text-white mr-2"
              ><ion-icon name="logo-twitter"></ion-icon
            ></a>
            <a href="#" class="text-white"
              ><ion-icon name="logo-instagram"></ion-icon
            ></a>
            <a
              href="https://github.com/nick-neely/Recipe-Realm"
              class="text-white"
              ><ion-icon name="logo-github"></ion-icon
            ></a>
            <a href="https://www.linkedin.com/in/nick-neely/" class="text-white"
              ><ion-icon name="logo-linkedin"></ion-icon
            ></a>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col text-center">
            <p>&copy; {{ year }} Recipe Realm. All Rights Reserved.</p>
          </div>
        </div>
      </div>
    </footer>

    <script>
            // Check if the user's device is touch-enabled
      document.addEventListener("DOMContentLoaded", function () {
          let width = window.innerWidth;
          let currentPath = window.location.pathname;
          let currentUrl = window.location.href;

          // Retrieve the current per_page value from the template
          let currentPerPage = {{ current_per_page }};

          // List of paths where the logic should be applied
          let allowedPaths = ["/", "/user/"];

          let shouldRedirect = allowedPaths.some((path) =>
            currentPath.startsWith(path)
          );

          if (shouldRedirect) {
            let params = new URLSearchParams(window.location.search);

            let newPerPageValue;

            // Bootstrap's md breakpoint
            if (width < 768 && currentPerPage !== 6) {
              newPerPageValue = "6";
            } else if (width >= 768 && currentPerPage !== 9) {
              newPerPageValue = "9";
            }

            // If newPerPageValue is set and it's different from the current per_page value, then we redirect
            if (newPerPageValue) {
              params.set("per_page", newPerPageValue);
              let newUrl =
                window.location.origin + currentPath + "?" + params.toString();

              // Only redirect if the URL is actually different
              if (currentUrl !== newUrl) {
                window.location.href = newUrl;
              }
            }
          }
        });
    </script>

    <script
      type="module"
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
