<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="{{ url_for('static', filename='icons/apple-touch-icon.png') }}?v=favicon"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="{{ url_for('static', filename='icons/favicon-32x32.png') }}?v=favicon"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="{{ url_for('static', filename='icons/favicon-16x16.png') }}?v=favicon"
    />
    <link
      rel="manifest"
      href="{{ url_for('static', filename='icons/site.webmanifest') }}?v=favicon"
    />
    <link
      rel="mask-icon"
      href="{{ url_for('static', filename='icons/safari-pinned-tab.svg') }}?v=favicon"
      color="#456ca6"
    />
    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='icons/favicon.ico') }}?v=favicon"
    />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#93cff6" />

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
    <title>Recipe Realm</title>
    <script
      type="text/javascript"
      src="https://app.termly.io/embed.min.js"
      data-auto-block="on"
      data-website-uuid="1ed79e9a-7cab-4622-993b-cc865f7013e1"
    ></script>
  </head>
  <body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="{{ url_for('home') }}">Recipe Realm</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            {% if current_user.is_authenticated %}
            <!-- Add Admin Dashboard link if user is an admin -->
            {% if current_user.is_admin %}
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('admin_dashboard') }}"
                >Admin Dashboard</a
              >
            </li>
            {% endif %}
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('add_recipe') }}"
                >Add Recipe</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                href="{{ url_for('user_profile', username=current_user.username) }}"
                >{{ current_user.username }}</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
            </li>
            {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('login') }}">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('register') }}">Register</a>
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>

    <div class="container mt-3">
      {% with messages = get_flashed_messages(with_categories=true) %} {% if
      messages %} {% for category, message in messages %}
      <div class="alert alert-{{ category }}">{{ message }}</div>
      {% endfor %} {% endif %} {% endwith %}
    </div>

    <div class="container">{% block content %} {% endblock %}</div>

    <!-- Enhanced Footer -->
    <footer class="bg-dark text-white mt-5">
      <div class="container py-3">
        <div class="row">
          <div class="col-md-4">
            <h5>About Recipe Realm</h5>
            <p>
              Founded by a dedicated student during their final academic year,
              Recipe Realm is a culinary hub where passion for food meets
              community spirit.
            </p>
            <p>
              Our mission: to weave a tapestry of flavors and memories. Every
              dish tells a tale, every ingredient has a backstory, and we're
              here to celebrate them all. Connect with fellow food enthusiasts,
              share beloved recipes, and savor the traditions behind each bite.
            </p>
          </div>
          <div class="col-md-4">
            <h5>Quick Links</h5>
            <ul class="list-unstyled">
              <li>
                <a href="{{ url_for('about') }}" class="text-white">About Us</a>
              </li>
              <li><a href="{{ url_for('faq') }}" class="text-white">FAQ</a></li>
              <li>
                <a
                  href="#"
                  onclick="window.displayPreferenceModal();return false;"
                  id="termly-consent-preferences"
                  class="text-white"
                  >Consent Preferences</a
                >
              </li>
              <li>
                <a
                  href="https://app.termly.io/notify/02bba525-ddff-4cdd-8338-84e370529661"
                  class="text-white"
                  >DSAR Form</a
                >
              </li>
              <li>
                <a href="{{ url_for('terms_of_service') }}" class="text-white"
                  >Terms of Service</a
                >
              </li>
              <li>
                <a href="{{ url_for('privacy_policy') }}" class="text-white"
                  >Privacy Policy</a
                >
              </li>
              <li>
                <a href="{{ url_for('cookie_policy') }}" class="text-white"
                  >Cookie Policy</a
                >
              </li>
            </ul>
          </div>
          <div class="col-md-4">
            <h5>Connect With Us</h5>
            <a href="#" class="text-white mr-2"
              ><ion-icon name="logo-twitter"></ion-icon
            ></a>
            <a href="#" class="text-white"
              ><ion-icon name="logo-instagram"></ion-icon
            ></a>
            <a
              href="https://github.com/nick-neely/Recipe-Realm"
              class="text-white"
              ><ion-icon name="logo-github"></ion-icon
            ></a>
            <a href="https://www.linkedin.com/in/nick-neely/" class="text-white"
              ><ion-icon name="logo-linkedin"></ion-icon
            ></a>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col text-center">
            <p>&copy; {{ year }} Recipe Realm. All Rights Reserved.</p>
          </div>
        </div>
      </div>
    </footer>

    <script>
      document.addEventListener("DOMContentLoaded", function () {
        let width = window.innerWidth;
        let currentPath = window.location.pathname;
        let currentUrl = window.location.href;

        // Retrieve the current per_page value from the template
        let currentPerPage = {{ current_per_page }};

        // List of paths where the logic should be applied
        let allowedPaths = ["/", "/user/"];

        let shouldRedirect = allowedPaths.some((path) =>
          currentPath.startsWith(path)
        );

        if (shouldRedirect) {
          let params = new URLSearchParams(window.location.search);

          let newPerPageValue;

          // Bootstrap's md breakpoint
          if (width < 768 && currentPerPage !== 6) {
            newPerPageValue = "6";
          } else if (width >= 768 && currentPerPage !== 9) {
            newPerPageValue = "9";
          }

          // If newPerPageValue is set and it's different from the current per_page value, then we redirect
          if (newPerPageValue) {
            params.set("per_page", newPerPageValue);
            let newUrl =
              window.location.origin + currentPath + "?" + params.toString();

            // Only redirect if the URL is actually different
            if (currentUrl !== newUrl) {
              window.location.href = newUrl;
            }
          }
        }
      });
    </script>

    <script
      type="module"
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
    ></script>

    <!-- Popper.js, then Bootstrap JS -->
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
      integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
      integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
