{% extends "layout.html" %} {% block content %}

<div class="container mt-5">
  <h1 class="mb-4">Privacy Policy</h1>
  <p class="lead">Last updated: September 26, 2023</p>

  <h2 class="mt-4 mb-3">1. Introduction</h2>
  <p>
    At Recipe Realm, your privacy is our priority. This Privacy Policy governs
    our data practices and describes how we handle the information we collect
    when you visit and use our services.
  </p>

  <h2 class="mt-4 mb-3">2. Data We Collect</h2>
  <p>
    We collect data to provide better services to our users. This includes user
    registration details, user-submitted recipes, ratings, and reviews. We also
    collect data from cookies and user interactions with our service.
  </p>

  <h2 class="mt-4 mb-3">3. Use of Data</h2>
  <p>
    We use the data we collect to improve our service, personalize user
    experiences, and communicate with our users about updates, promotions, and
    more.
  </p>

  <h2 class="mt-4 mb-3">4. Data Sharing</h2>
  <p>
    We do not sell, trade, or otherwise transfer your personally identifiable
    information to outside parties. This does not include trusted third parties
    who assist us in operating our site, conducting our business, or serving our
    users, so long as those parties agree to keep this information confidential.
  </p>

  <h2 class="mt-4 mb-3">5. Data Protection</h2>
  <p>
    We implement a variety of security measures to maintain the safety of your
    personal information. Your personal information is stored in secured
    networks and is only accessible by a limited number of persons who have
    special access rights to such systems.
  </p>

  <h2 class="mt-4 mb-3">6. User Rights</h2>
  <p>
    You can request to view, update, or delete your personal data at any time.
    You can also opt out of receiving marketing communications from us.
  </p>

  <h2 class="mt-4 mb-3">7. Cookies</h2>
  <p>
    We use cookies to understand and save your preferences for future visits and
    compile aggregate data about site traffic and site interactions.
  </p>

  <h2 class="mt-4 mb-3">8. Third-Party Services</h2>
  <p>
    We may include or offer third-party products or services on our website.
    These third-party sites have separate and independent privacy policies. We
    have no responsibility or liability for the content and activities of these
    linked sites.
  </p>

  <h2 class="mt-4 mb-3">9. Changes to this Policy</h2>
  <p>
    We may update our Privacy Policy from time to time. We will notify our users
    of any changes by posting the new Privacy Policy on this page.
  </p>

  <h2 class="mt-4 mb-3">10. Contact Us</h2>
  <p>
    If you have any questions about this Privacy Policy, please contact us at
    support@reciperealm.com.
  </p>
</div>

{% endblock %}
