{% extends "layout.html" %} {% block content %}
<div class="container mt-4">
  <div class="row">
    <div class="col-md-8">
      <h1>{{ recipe.title }}</h1>
      <h6>Posted by: <strong>{{ recipe.author.username }}</strong></h6>
      <h6>
        Average Rating:
        <span class="badge bg-dark">{{ recipe.average_rating }}</span>
      </h6>
      <hr />
      <p><strong>Ingredients:</strong></p>
      <p>{{ recipe.ingredients }}</p>
      <p><strong>Steps:</strong></p>
      <p>{{ recipe.steps }}</p>

      <h3>Comments</h3>
      {% for comment in comments %}
      <div class="card mb-3">
        <div class="card-body">
          <strong>{{ comment.user.username }}:</strong> {{ comment.content }}
        </div>
        <div class="card-footer text-muted">
          {{ comment.timestamp.strftime('%Y-%m-%d %H:%M:%S') }}
        </div>
      </div>
      {% endfor %} {% if current_user.is_authenticated %}
      <h4>Post a Comment</h4>
      <form method="POST">
        {{ form.hidden_tag() }}
        <div class="form-group">
          {{ form.content.label }} {{ form.content(class="form-control") }}
        </div>
        {{ form.submit(class="btn btn-primary") }}
      </form>
      {% else %}
      <div class="alert alert-info" role="alert">
        You must be logged in to post a comment.
      </div>
      {% endif %}
    </div>

    <div class="col-md-4">
      {% if current_user.is_authenticated and current_user.id ==
      recipe.author_id %}
      <a
        href="{{ url_for('edit_recipe', recipe_id=recipe.id) }}"
        class="btn btn-primary mb-3"
        >Edit Recipe</a
      >
      <form
        action="{{ url_for('delete_recipe', recipe_id=recipe.id) }}"
        method="POST"
      >
        <button type="submit" class="btn btn-danger mb-3">Delete Recipe</button>
      </form>
      {% endif %} {% if current_user.is_authenticated %}
      <h4>Rate this Recipe</h4>
      <form
        method="POST"
        action="{{ url_for('rate_recipe', recipe_id=recipe.id) }}"
        class="mb-4"
      >
        {{ rate_form.hidden_tag() }}
        <div class="form-group">
          {{ rate_form.rating_value.label(class="form-label") }} {{
          rate_form.rating_value(class="form-control") }}
        </div>
        {{ rate_form.submit(class="btn btn-success") }}
      </form>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
